/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.byebug_history

# rspec failure tracking
.rspec_status

# ignore built gems
*.gem

*.swp
*.swo

# ignore dummy app tmp
/spec/dummy/tmp/
/spec/dummy/log/
*.sqlite3
